# RMS Titanic

## O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

## A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

## Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

## A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

## O arquivo **titanic.data** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

## O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

## Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

### 1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [1]:
import numpy as np
import pandas as pd

In [2]:
file = pd.read_csv('titanic.data')

tit = pd.DataFrame(file)

tit.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

## Conhecendo o DataSet

### 2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [3]:
# linhas
tit.shape

(891, 12)

In [4]:
# colunas
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [5]:
# 10 Primeiros
tit.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [6]:
# 8 Últimos
tit.tail(8)

     PassengerId  Survived  Pclass  ...    Fare Cabin  Embarked
883          884         0       2  ...  10.500   NaN         S
884          885         0       3  ...   7.050   NaN         S
885          886         0       3  ...  29.125   NaN         Q
886          887         0       2  ...  13.000   NaN         S
887          888         1       1  ...  30.000   B42         S
888          889         0       3  ...  23.450   NaN         S
889          890         1       1  ...  30.000  C148         C
890          891         0       3  ...   7.750   NaN         Q

[8 rows x 12 columns]

### 4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [7]:
tit.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# Preenchendo os vazios da coluna Embarked com "Não Cadastrada"
tit.update(tit['Embarked'].fillna('Não Cadastrada'))
tit['Embarked'].unique()

array(['S', 'C', 'Q', 'Não Cadastrada'], dtype=object)

In [9]:
# Preenchendo os vazios da coluna Cabin com "Não Cadastrada"
tit.update(tit['Cabin'].fillna('Não Cadastrada'))
tit['Cabin'].unique()

array(['Não Cadastrada', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [10]:
# Preenchendo os vazios da coluna Age com "Não Cadastrada"
tit.update(tit['Age'].fillna('Não Cadastrada'))
tit['Age'].unique()

array([22.0, 38.0, 26.0, 35.0, 'Não Cadastrada', 54.0, 2.0, 27.0, 14.0,
       4.0, 58.0, 20.0, 39.0, 55.0, 31.0, 34.0, 15.0, 28.0, 8.0, 19.0,
       40.0, 66.0, 42.0, 21.0, 18.0, 3.0, 7.0, 49.0, 29.0, 65.0, 28.5,
       5.0, 11.0, 45.0, 17.0, 32.0, 16.0, 25.0, 0.83, 30.0, 33.0, 23.0,
       24.0, 46.0, 59.0, 71.0, 37.0, 47.0, 14.5, 70.5, 32.5, 12.0, 9.0,
       36.5, 51.0, 55.5, 40.5, 44.0, 1.0, 61.0, 56.0, 50.0, 36.0, 45.5,
       20.5, 62.0, 41.0, 52.0, 63.0, 23.5, 0.92, 43.0, 60.0, 10.0, 64.0,
       13.0, 48.0, 0.75, 53.0, 57.0, 80.0, 70.0, 24.5, 6.0, 0.67, 30.5,
       0.42, 34.5, 74.0], dtype=object)

## Adequando o DataSet

### 4 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [11]:
tit.drop(columns=['SibSp','Parch','Ticket'], inplace=True)
tit.head()

   PassengerId  Survived  Pclass  ...     Fare           Cabin Embarked
0            1         0       3  ...   7.2500  Não Cadastrada        S
1            2         1       1  ...  71.2833             C85        C
2            3         1       3  ...   7.9250  Não Cadastrada        S
3            4         1       1  ...  53.1000            C123        S
4            5         0       3  ...   8.0500  Não Cadastrada        S

[5 rows x 9 columns]

### 5 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [12]:
tit.rename(columns= {'PassengerId':'IdPassageiro',
                     'Survived'   :'Sobreviveu',
                     'Pclass':'Classe',
                     'Name':'Nome',
                     'Sex':'Sexo',
                     'Age':'Idade',
                     'Fare':'Tarifa',
                     'Cabin':'Cabine',
                     'Embarked':'Embarque'
                     } , inplace = True   
           )

tit.head()

   IdPassageiro  Sobreviveu  Classe  ...   Tarifa          Cabine Embarque
0             1           0       3  ...   7.2500  Não Cadastrada        S
1             2           1       1  ...  71.2833             C85        C
2             3           1       3  ...   7.9250  Não Cadastrada        S
3             4           1       1  ...  53.1000            C123        S
4             5           0       3  ...   8.0500  Não Cadastrada        S

[5 rows x 9 columns]

### 6 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [13]:
tit['Sobreviveu'] = tit['Sobreviveu'].map({ 0 : 'Não', 1 : 'Sim'})

In [14]:
tit['Sobreviveu'].head()

0    Não
1    Sim
2    Sim
3    Sim
4    Não
Name: Sobreviveu, dtype: object

### 7 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [15]:
tit['Sexo'] = tit['Sexo'].map({ 'female' : 'Mulher', 'male' : 'Homem'})

In [16]:
tit['Sexo'].unique()

array(['Homem', 'Mulher'], dtype=object)

## Alguns números

### 8 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [17]:
abordo = tit.groupby(by=['Sexo']).size()

print(abordo)

Sexo
Homem     577
Mulher    314
dtype: int64

### 9 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [18]:
sobreviventes = tit.groupby(by=['Sobreviveu']).size()

print(sobreviventes)

Sobreviveu
Não    549
Sim    342
dtype: int64

### 10 - Quantas mulheres não sobreviveram?

In [19]:
sobreviventes_sexo = tit.groupby(by=['Sobreviveu','Sexo']).size()
sobreviventes_sexo['Não']['Mulher']

81

### 11 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [20]:
tit.groupby(by=['Sobreviveu','Sexo']).size()['Sim'] / tit['Sobreviveu'].loc[tit['Sobreviveu'] == 'Sim'].count() * 100

Sexo
Homem     31.871345
Mulher    68.128655
dtype: float64

### 12 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [21]:
idade_mortos = tit[(tit['Sobreviveu']=='Não') & (tit['Idade']!='Não Cadastrada')].groupby(['Idade'],as_index = False)['Idade'].size()

idade_mortos.sort_values('size',ascending=False).head(1)

    Idade  size
19   21.0    19

### 13 - Qual a média de idade dos homens sobreviventes?

In [33]:
media_h_sobrev = tit[ (tit['Sobreviveu'] == 'Sim') & 
                      (tit['Sexo'] == 'Homem') & 
                      (tit['Idade']!='Não Cadastrada') ].groupby(['Idade'],as_index = False)['Idade'].size()


media_h_sobrev.Idade.mean()

27.85387755102041

### 14 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

### 15 - Qual a quantidade de passageiros por classe?

In [34]:
Qtde_Classe = tit.groupby(by=['Classe']).size()

print(Qtde_Classe)

Classe
1    216
2    184
3    491
dtype: int64

### 16 - Qual o percentual de sobreviventes por classe?

In [65]:
perc_classe = tit[ (tit['Sobreviveu'] == 'Sim') ].groupby(['Classe'],as_index = False)['Classe'].size()

perc_classe['size']  / tit['Sobreviveu'].loc[tit['Sobreviveu'] == 'Sim'].count()

0    0.397661
1    0.254386
2    0.347953
Name: size, dtype: float64

### 17 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

### 18 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

### 19 - Represente graficamente duas comparações que preferir e analise/descreva quais as conclusões obtidas.